POSTGRES_PASSWORD=replace-with-a-random-password
CONVOY_JWT_SECRET=replace-with-a-random-32-character-secret
CONVOY_JWT_REFRESH_SECRET=replace-with-another-random-32-character-secret
CONVOY_HOST=http://localhost:5005
